# Dependencies
node_modules

# Production
.next
out
dist

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env files
.env
.env*.local

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/*
!.vscode/extensions.json

# Coverage
coverage

# Misc
*.tgz
*.patch

# Docker
*.tar
